@import 'tailwindcss';

@source "./pages/**/*.{js,ts,jsx,tsx,mdx}";
@source "./components/**/*.{js,ts,jsx,tsx,mdx}";
@source "./app/**/*.{js,ts,jsx,tsx,mdx}";

@theme {
  --color-background: #ffffff;
  --color-foreground: #171717;
}

:root {
  --background: var(--color-background);
  --foreground: var(--color-foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #0a0a0a;
    --color-foreground: #ededed;
    --background: var(--color-background);
    --foreground: var(--color-foreground);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

